# dependencies
node_modules/
.node_modules/

# build files
build/
dist/

# environment files
.env
.env.*

# allow an example .env file
!.env.example

# configuration file
*.config

# VS Code
.vscode/

# npm and yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# database
*.db
